/* Typography */
    body {
    font-family: 'Signika', sans-serif;
  }
  /* Except we're using more specific rules to override the headlines */
  h1, h2, {
    font-family: 'Dancing Script', cursive;
  }
  /* And the "logo" */
  .navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 26px;
    color: black; 
  }
  .navbar-brand img {
    width: 30px;
    height: 30px;
  }
  .navbar-light .navbar-brand {
    color: palevioletred;
  }
  
  /* Navbar background color */
  .navbar {
    background-color: white;
    color: black; 
  }
  
  /* Jumbotron background and font styles */
  .jumbotron {
    /* Background */
    background-attachment: fixed;
    background-image: url(https://i.ytimg.com/vi/o6wMCkY7kjA/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Fonts */
    /* The text-shadow helps the white text stand out better on a darker background */
    color:black;
    text-shadow: 4px 4px 4px white;
    text-align: right;
  }
.newspage {
    background-color: lightblue;
    color: white
}

.home {
    background-color: white;
    color: palevioletred; 
}